#Marker	Type	5'Flank	3'Flank	Motif	Period	Offset
mh09KK-153	MH	GGCAGTCTTCAT	GGCTGTATGATA	A	1	155
mh02KK-134	MH	CCCTTGGCAGGA	TACGAGCCTCAA	A	1	118
mh13KK-213	MH	CAGCAAGGAGAA	TTGAGTTGATCA	A	1	194
mh21KK-320	MH	GTTTAGGATGGG	TAATGTTTGGCC	A	1	201
mh13KK-218	MH	AAGCATAGCACA	CCTTAACATGTG	A	1	148
mh13KK-217	MH	TTGGCTCAACAA	ACAGAACAAAT	A	1	197
mh05KK-170	MH	GGAGGTGTGAGG	TTTGGAGAGATT	A	1	164
mh11KK-180	MH	GCTTTTCCTGAT	CCAGGAGACATC	A	1	203
mh01KK-212	MH	CCATGAGCACCC	GTTCCCTCCCCA	A	1	178
mh02KK-014	MH	AGGGTACTTTCC	CTCTTGCTCCAG	A	1	111
mh02KK-022	MH	GCGTTGACTAAT	ATTCCCAACAGC	A	1	197
mh02KK-029	MH	AGCACTCAGAGA	TAGAAAACACTG	A	1	211
mh07KK-009	MH	AGGCAGAGCCTT	GACACTGACTGG	A	1	193
mh08KK-137	MH	TTGGCAAGTCCC	TTTTACAGTTTC	A	1	149
mh09KK-145	MH	TCTCCCCCTCCT	TGTGGTGGACAG	A	1	197
mh10KK-162	MH	GCAGTAGAGTTC	GGAGTTTGGGGT	A	1	203
mh11KK-183	MH	CTCCTTGCCGTG	TTTTCTCCTTAT	A	1	178
mh12KK-201	MH	GTTCTTTTTCTT	CTCCAAATTGTA	A	1	180
mh13KK-221	MH	TGATTGAAAGGC	CAATGTCCACTC	A	1	180
mh16KK-011	MH	ATGTTGGCCTTG	GCCTCTGGGTAA	A	1	207
mh16KK-259	MH	GCTGGGCGTACT	GAAAAAGTCACC	A	1	180
mh17KK-278	MH	GTGTAGCCTGGA	GACGACTACAAA	A	1	191
mh20KK-306	MH	CTCAGTCATCGC	TCTACAGCAGCC	A	1	209
mh22KK-340	MH	TTTCTGCTGCGT	TCTGTGGCTGGC	A	1	163